services:
  data-collector:
    build:
      context: ./data-collector
      dockerfile: Dockerfile
    volumes:
      - .:/data-collector/src:cached
      - /src/.venv
    ports:
      - "8000:8000"
    environment:
      DB_USER: postgres
      DB_PASSWORD: password
      DB_NAME: mydb
      DB_HOST: db

  data-analyzer:
    build:
      context: ./data-analyzer
      dockerfile: Dockerfile
    volumes:
      - .:/data-analyzer/src:cached
      - /src/.venv
    ports:
      - "80:80"
    environment:
      DB_USER: postgres
      DB_PASSWORD: password
      DB_NAME: mydb
      DB_HOST: db

  streamlit:
    build:
      context: ./streamlit
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    volumes:
      - .:/streamlit/src:cached
      - /src/.venv
    environment:
      DB_USER: postgres
      DB_PASSWORD: password
      DB_NAME: mydb
      DB_HOST: db
      DATA_COLLECTOR_ENDPOINT: http://data-collector:8000/data
      DATA_ANALYZER_ENDPOINT: http://data-analyzer:80/analyze
  
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - postgres-data:/var/lib/postgresql/data

  flyway:
    image: flyway/flyway:12.0.2-alpine
    command: -url=jdbc:postgresql://db:5432/mydb -schemas=public -user=postgres -password=password migrate
    volumes:
      - ./flyway:/flyway/sql
    depends_on:
      - db

  prometheus:
    image: prom/prometheus:v3
    volumes:
      - ./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

volumes:
  postgres-data: